<h1>Admin Dashboard</h1>

<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">UUID</th>
      <th scope="col">Name</th>
      <th scope="col">Admin?</th>
      <th scope="col">Email Confirmed?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %><td>
        <td><%= user.name %><td>
        <td><%= user.admin? %><td>
        <td><%= !user.confirmed_at.nil? %><td>
      </tr>
    <% end %>
  </tbody>
</table>