= link_to 'Sidekiq Dashboard', '/admin/sidekiq'

h1 #{@users.count} User(s):

h1 #{@visits.count} Visits(s):

h1 #{@events.count} Events(s):

h1 #{@sent_emails.count} Sent Email(s):

h1 #{@login_activities.count} Login Activity(s):
