<%= turbo_frame_tag dom_id(calendar) do %>
  <p>
    <strong>User:</strong>
    <%= calendar.user.email %>
  </p>

  <p>
    <strong>Calendar events:</strong>
    <%= calendar.calendar_events %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= calendar.name %>
  </p>
<% end %>
